@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: raleway;
  
}

body{
    background-image: linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));
    text-align: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.cabecalho{
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px 0px;
    font-size: 1.8rem;
    color: white;
    flex-wrap: wrap;
    background-image: linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));
    border-radius: 20px;
    width: 70%;
    justify-self: center;
    align-self:center;
}

.info{
    padding-bottom: 20px;
    color: aliceblue;

}
main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-cadastro{
    background-image: linear-gradient(180deg, rgb(233, 0, 0), rgb(80, 0, 0), rgb(2, 0, 0));  
     padding: 20px 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 25px 5px #731818;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 5%;
    width: 80%;

}
.informacao{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.btn-iniciar{
    padding-top: 3px;
    font-weight: 600;
    text-align:center;
    margin-top: 15px;
    height: 30px;
    width: 100px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: aliceblue;
    color: brown;
}
.btn-iniciar:hover{
    background-color: brown;
    color: aliceblue;
}
.informacao p{
    color:aliceblue

}

section .cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
