*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Courier, monospace
}
    body{
    background-color: rgb(185, 88, 88);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 40px;

}
h1{
    color: rgb(97, 31, 31);
}

.descricao{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;


}
.options{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

} 

.option{
    display: flex;
    background-color: brown;
    color: aliceblue;
    height:8vh ;
    width: 60vw;
    border-radius: 25px;
    box-shadow: 3px 3px 3px 3px rgb(97, 31, 31);
    justify-content: center;
    align-items: center;
    font-weight: 700;
}